* {
  color: #353535;
}

strong {
  background: #9663a9;
  color: white;
  padding: 2px;
}

@media (max-width: 480px) {
  .banner-logo {
    position: relative !important;
  }
  .welcome-area .header-text {
    width: 100%;
    padding-top: 25%;
    margin-left: unset;
  }
  .welcome-area .header-text .left-text {
    text-align: center;
  }
}

.welcome-area {
  background-size: auto 100%;
}

.center-heading h2 em {
  color: #f1737e;
}

.welcome-area .header-text h1 {
  font-size: 40px;
  line-height: 55px;
}

.logo span {
  font-family: "exo-black";
}

.logo span:nth-child(1) {
  color: #d3558f;
}

.logo span:nth-child(2) {
  color: #f1737e;
}

.logo span:nth-child(3) {
  color: #51abb2;
}

.logo span:nth-child(4) {
  color: #6aa393;
}

.logo span:nth-child(5) {
  color: #f6cb55;
}

.banner-logo {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.box-event-icon {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  margin-bottom: 100px;
  padding: 24px;
  float: left;
  border-radius: 8px;
  background: #f6cb55;
}

.box-general-icon {
  width: 24px;
  height: 24px;
  margin-right: 30px;
  margin-bottom: 24px;
  padding: 12px;
  float: left;
  border-radius: 8px;
}

.box-general-icon i {
  color: #f16358;
}

#promotion .right-text ul li {
  margin-bottom: unset;
}

.bacteri {
  position: relative;
  padding: 0 10%;
  text-align: right;
  z-index: 0;
}

.bacteri img {
  position: relative;
  animation: bacteri 10s ease-in-out alternate infinite;
}

@keyframes bacteri {
  0% {
    transform: scale(1);
    right: 0;
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.5);
    right: 100%;
  }
}
